$baseFont: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$baseFontColor: #51696c;
$baseFontWeight: 300;

$appBackgroundColor: #101115;
